<%-  include("../components/layout/header.ejs")%>
<meta name="description" content="404 | Page Not Found - www.gadifor.me Gadiforme Cabs, Taxi, Private cars, Luxury Cars." />
<meta property="og:description" name="description" content="404 | Page Not Found - www.gadifor.me Gadiforme Cabs, Taxi, Private cars, Luxury Cars." />
<title>404 | Page Not Found - www.gadifor.me - GadiForMe</title>
<meta property="og:title" content="404 | Page Not Found - www.gadifor.me - GadiForMe" />
<!-- <link rel="stylesheet" href="css/pages/privacy.css"></link> -->
<!-- <script src="js/pages/index.js"></script> -->
</head>
<body>
  <%- include("../components/layout/navbar.ejs"); %>
  <%- include("../components/layout/drawer.ejs"); %>
  <%- include("../components/layout/query.modal.ejs"); %>
  <%- include("../components/layout/fabs.ejs"); %>
  <h1 class="text-center text-secondary" style="margin: 40vh 1rem;">404 | Page Not Found </h1>
</body>
<%-  include("../components/layout/footer")%>