<%-  include("../components/layout/header.ejs")%>
<meta name="description" content="GadiForMe - India's Leading Cabs & Private Car Provider. Get Fare Estimates for Free. We focus on convenience, safety & affordability. Book Your Cab Now." />
<meta property="og:description" name="description" content="GadiForMe - India's Leading Cabs & Private Car Provider. Get Fare Estimates for Free. We focus on convenience, safety & affordability. Book Your Cab Now." />
<title>India's Leading Cab & Taxi Provider - www.gadifor.me - GadiForMe</title>
<meta property="og:title" content="India's Leading Cab & Taxi Provider - www.gadifor.me - GadiForMe" />
<link rel="stylesheet" href="css/pages/index.css"></link>
<script src="js/pages/index.js"></script>
</head>
<body>
  <%- include("../components/layout/navbar.ejs"); %>
  <%- include("../components/layout/drawer.ejs"); %>
  <%- include("../components/layout/query.modal.ejs"); %>
  <%- include("../components/layout/fabs.ejs"); %>
  <%- include("../components/index/first.component.ejs"); %>
  <%- include("../components/index/second.component.ejs"); %>
  <%- include("../components/index/third.component.ejs"); %>
  <%- include("../components/index/fourth.component.ejs"); %>
  <%- include("../components/index/fifth.component.ejs"); %>
  <%- include("../components/index/six.component.ejs"); %>
  
</body>
<%-  include("../components/layout/footer")%>