<%-  include("../components/layout/header.ejs")%>
<meta name="description" content="Refund and Cancellation Policy - www.gadifor.me Gadiforme Cabs, Taxi, Private cars, Luxury Cars." />
<meta property="og:description" name="description" content="Refund and Cancellation Policy - www.gadifor.me Gadiforme Cabs, Taxi, Private cars, Luxury Cars." />
<title>Refund and Cancellation Policy - www.gadifor.me - GadiForMe</title>
<meta property="og:title" content="Refund and Cancellation Policy - www.gadifor.me - GadiForMe" />
<!-- <link rel="stylesheet" href="css/pages/privacy.css"></link> -->
<!-- <script src="js/pages/index.js"></script> -->
</head>
<body>
  <%- include("../components/layout/navbar.ejs"); %>
  <%- include("../components/layout/drawer.ejs"); %>
  <%- include("../components/layout/query.modal.ejs"); %>
  <%- include("../components/layout/fabs.ejs"); %>
  <div class="mx-5" style="margin-top: 6rem;">
    <%- include("../components/refund-and-cancellation-policy/first.component.ejs"); %>  
  </div>
</body>
<%-  include("../components/layout/footer")%>